*{
	padding:0px;
	margin:0px;
}
.header{
	background-color:black;
	color:white;
	text-align:center;
	padding:10px;
}
.products{
	text-align:center;
	margin-top:20px;
	
}
.box{
	border-color:black;
	border-style:solid;
	display:inline-block;
	margin-top:20px;
	width:220px;
	margin-left:25px;
	text-align:center;
}
.box:hover{
	background-color:yellow;
	color:black;
	
}
button{
	background-color:black;
	color:white;
	border-style:solid;
	cursor: pointer;
	
}
.contact{
	background-color:black;
	color:white;
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	padding:10px;
	
}
table,form{
	display:inline-block;
	color:white;
}
h3{
	margin-top:20px;
	margin-bottom:20px;
}
